.pageloader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  padding-top: 2em;
  background: #fff;
  background: #fff;
  z-index: 999998;
  transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  will-change: transform;
}
.pageloader.is-black {
  background-color: #000;
  background: #000;
}
.pageloader.is-black::after {
  border-color: #0a0a0a;
  -webkit-animation: loader-figure-white 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-white 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-black .title {
  color: #0a0a0a;
}
.pageloader.is-black {
  background-color: #0a0a0a;
  background: #0a0a0a;
}
.pageloader.is-black::after {
  border-color: #000;
  -webkit-animation: loader-figure-black 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-black 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-black .title {
  color: #000;
}
.pageloader.is-light {
  background-color: #f5f5f5;
  background: #f5f5f5;
}
.pageloader.is-light::after {
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: loader-figure-light 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-light 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-light .title {
  color: rgba(0, 0, 0, 0.7);
}
.pageloader.is-dark {
  background-color: #344258;
  background: #344258;
}
.pageloader.is-dark::after {
  border-color: #000;
  -webkit-animation: loader-figure-dark 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-dark 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-dark .title {
  color: #000;
}
.pageloader.is-primary {
  background-color: #fff;
  background: #fff;
}
.pageloader.is-primary::after {
  border-color: #000;
  -webkit-animation: loader-figure-primary 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-primary 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-primary .title {
  color: #000;
}
.pageloader.is-link {
  background-color: #3273dc;
  background: #3273dc;
}
.pageloader.is-link::after {
  border-color: #000;
  -webkit-animation: loader-figure-link 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-link 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-link .title {
  color: #000;
}
.pageloader.is-info {
  background-color: #039be5;
  background: #039be5;
}
.pageloader.is-info::after {
  border-color: #000;
  -webkit-animation: loader-figure-info 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-info 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-info .title {
  color: #000;
}
.pageloader.is-success {
  background-color: #06d6a0;
  background: #06d6a0;
}
.pageloader.is-success::after {
  border-color: #000;
  -webkit-animation: loader-figure-success 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-success 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-success .title {
  color: #000;
}
.pageloader.is-warning {
  background-color: #faae42;
  background: #faae42;
}
.pageloader.is-warning::after {
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: loader-figure-warning 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-warning 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-warning .title {
  color: rgba(0, 0, 0, 0.7);
}
.pageloader.is-danger {
  background-color: #e62965;
  background: #e62965;
}
.pageloader.is-danger::after {
  border-color: #000;
  -webkit-animation: loader-figure-danger 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-danger 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader.is-danger .title {
  color: #000;
}
.pageloader:not(.is-left-to-right),
.pageloader:not(.is-right-to-left),
.pageloader:not(.is-bottom-to-top) {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.pageloader.is-bottom-to-top {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.pageloader.is-left-to-right {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.pageloader.is-right-to-left {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.pageloader.is-active:not(.is-left-to-right),
.pageloader.is-active:not(.is-right-to-left) {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.pageloader.is-active.is-left-to-right,
.pageloader.is-active.is-right-to-left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.pageloader::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 100%;
  content: "";
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #000;
  -webkit-animation: loader-figure 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.pageloader .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 2em 0 0 0;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #000;
  white-space: nowrap;
}
@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-white {
  0% {
    height: 0;
    width: 0;
    background-color: #0a0a0a;
  }
  29% {
    background-color: #0a0a0a;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-white {
  0% {
    height: 0;
    width: 0;
    background-color: #0a0a0a;
  }
  29% {
    background-color: #0a0a0a;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-black {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-black {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-light {
  0% {
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  29% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-light {
  0% {
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  29% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-dark {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-dark {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-primary {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-primary {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-link {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-link {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-info {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-info {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-success {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-success {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-warning {
  0% {
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  29% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-warning {
  0% {
    height: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  29% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-figure-danger {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure-danger {
  0% {
    height: 0;
    width: 0;
    background-color: #000;
  }
  29% {
    background-color: #000;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

.infraloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.infraloader.is-active {
  opacity: 1;
  z-index: 999997;
}
.infraloader.is-full {
  width: 100% !important;
  left: 0 !important;
}
@media (max-width: 767px) {
  .infraloader {
    width: 100% !important;
    left: 0 !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .infraloader {
    width: 100% !important;
    left: 0 !important;
  }
} /*! _placeload.scss | HR | Css ninja 2020-2021 */
.content-shape {
  height: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
}
.content-shape.w-80 {
  max-width: 80%;
}
.content-shape.w-60 {
  max-width: 60%;
}
.content-shape.w-40 {
  max-width: 40%;
}
.content-shape.w-20 {
  max-width: 20%;
}
.loads {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeload;
  animation-name: placeload;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eee;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1200px 104px;
  position: relative;
}
@-webkit-keyframes placeload {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes placeload {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.page-placeholder {
  min-height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}
.page-placeholder.is-wider .placeholder-content > p {
  font-size: 1rem;
  max-width: 420px;
}
.page-placeholder .placeholder-content {
  text-align: center;
}
.page-placeholder .placeholder-content img {
  display: block;
  max-width: 340px;
  margin: 0 auto 12px auto;
}
.page-placeholder .placeholder-content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #283252;
}
.page-placeholder .placeholder-content p {
  font-family: "Roboto", sans-serif;
  color: #a2a5b9;
  font-size: 1rem;
  max-width: 320px;
  margin: 0 auto 12px auto;
}
.page-placeholder .placeholder-content p.is-larger {
  max-width: 620px;
}
.page-placeholder .placeholder-content .button {
  margin-bottom: 8px;
  min-height: 48px;
}
@media (max-width: 767px) {
  .page-placeholder .placeholder-content img {
    max-width: 280px;
  }
}
